# .env.example

# Supabase Configuration
# Server-side
SUPABASE_URL=
SUPABASE_KEY=
# Client-side
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
VITE_SUPABASE_BUCKET=EVIDEN

# GAS Configuration
VITE_GAS_WEB_APP_URL=
VITE_GDRIVE_FOLDER_ID=
VITE_GOOGLE_SPREADSHEET_ID=
