# .env.example
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz1bn6bD8-f7ZravXDUskT0Hucg728h_sh5xgw9p-kQxFWlpN9ZODttYb35hEly26Ka/exec
SUPABASE_URL=https://bicyhoavntfuwaesqwwf.supabase.co
SUPABASE_KEY=

# Cloudflare Pages Client-side Injection (Optional)
VITE_SUPABASE_URL=https://bicyhoavntfuwaesqwwf.supabase.co
VITE_SUPABASE_KEY=

