# .env.example

# Supabase Configuration
# Server-side
SUPABASE_URL=https://bicyhoavntfuwaesqwwf.supabase.co
SUPABASE_KEY=
# Client-side
VITE_SUPABASE_URL=https://bicyhoavntfuwaesqwwf.supabase.co
VITE_SUPABASE_KEY=
VITE_SUPABASE_BUCKET=EVIDEN

# GAS Configuration
VITE_GAS_WEB_APP_URL=
VITE_GDRIVE_FOLDER_ID=1NvIw5QLalD-eK1u7Hv6vhW5PS0JWjwK2
VITE_GOOGLE_SPREADSHEET_ID=1UUxU8soJuTeB_kMk0XFqHY8UaPcISnWto9MOp960-mo
